
#options label {
    display: block;
}

.option {
    float: left;
}

#functions {
    clear: both;
}

#functions input[type=button] {
    background-color: whitesmoke;
    color: #323232;
}

table {
    width: 50%;
    border-collapse: collapse;
}

td {
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .cell-dead {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ECFFCF;
}

td .cell-alive {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: green;
}