#options .option {
    float: left;
    margin-left: 5px;
}

#functions {
    clear: both;
}

#functions input[type=button] {
    background-color: whitesmoke;
    color: #323232;
    padding: 2px 6px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

#functions input[type=button]:hover {
    background-color: #c1c1c1;
}

#grid {
    position: relative;
}

#grid-canvas {
    margin: 0;
    padding: 0;
}